<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    
   <context-param>
        <param-name>primefaces.FONT_AWESOME</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.MOVE_SCRIPTS_TO_BOTTOM</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.numberOfLogicalViews</param-name>
        <param-value>6</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.numberOfViewsInSession</param-name>
        <param-value>6</param-value>
    </context-param>
    <context-param>
        <param-name>org.omnifaces.VIEW_SCOPE_MANAGER_MAX_ACTIVE_VIEW_SCOPES</param-name>
        <param-value>6</param-value>
    </context-param>
    
    <context-param>
        <param-name>javax.faces.FACELETS_BUFFER_SIZE</param-name>
        <param-value>131072</param-value>
    </context-param>
    
    <context-param>
        <param-name>BootsFaces_USETHEME</param-name>
        <param-value>default</param-value>
    </context-param>

    <context-param>
        <param-name>primefaces.PUBLIC_CAPTCHA_KEY</param-name>
        <param-value>YOUR_PUBLIC_KEY</param-value>
    </context-param>
    
    <context-param>
        <param-name>primefaces.PRIVATE_CAPTCHA_KEY</param-name>
        <param-value>YOUR_PRIVATE_KEY</param-value>
    </context-param>
    
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
    </context-param>
   
      <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
     <filter>
        <filter-name>gzipResponseFilter</filter-name>
        <filter-class>org.omnifaces.filter.GzipResponseFilter</filter-class>
        <init-param>
            <description>The threshold size in bytes. Must be a number between 0 and 9999. Defaults to 150.
            </description>
            <param-name>threshold</param-name>
            <param-value>200</param-value>
        </init-param>
    </filter>
    
    <filter-mapping>
        <filter-name>gzipResponseFilter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
        <url-pattern>/javax.faces.resource/*</url-pattern>
    </servlet-mapping>
    
    <mime-mapping>
       <extension>eot</extension>
       <mime-type>application/vnd.ms-fontobject</mime-type>
   </mime-mapping>

   <mime-mapping>  
       <extension>otf</extension>  
       <mime-type>font/opentype</mime-type>  
   </mime-mapping>  

   <mime-mapping>  
       <extension>ttf</extension>  
       <mime-type>application/x-font-ttf</mime-type>  
   </mime-mapping> 

   <mime-mapping>  
       <extension>woff</extension>  
       <mime-type>application/x-font-woff</mime-type>  
   </mime-mapping>

   <mime-mapping>  
       <extension>svg</extension>  
       <mime-type>image/svg+xml</mime-type>  
   </mime-mapping>

   <mime-mapping>  
       <extension>woff2</extension>  
       <mime-type>application/x-font-woff2</mime-type>  
   </mime-mapping>

   <mime-mapping>
           <extension>xhtml</extension>
           <mime-type>application/xml</mime-type>
   </mime-mapping>
   
   

     <welcome-file-list>
        <welcome-file>Login/login.xhtml</welcome-file>
    </welcome-file-list>
    
    <listener>
        <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
    </listener>
    <filter>
        <filter-name>ShiroFilter</filter-name>
        <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ShiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter>
        <filter-name>Authentication</filter-name>
        <filter-class>com.tatsinktechnologic.shiro.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <url-pattern>/web_site/*</url-pattern>
    </filter-mapping>
    
     
    <servlet>
        <servlet-name>CaptchaServlet</servlet-name>
        <servlet-class>com.tatsinktechnologic.captcha.CaptchaServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CaptchaServlet</servlet-name>
        <url-pattern>/captcha.jpg</url-pattern>
    </servlet-mapping>
        
      
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
   
</web-app>
